[Desktop Entry]
Type=Application
Name=mt
GenericName=External Storage Mounter
Comment=Detect and mount external USB / SD drives under /mnt
Exec=mt
Icon=drive-removable-media-usb
Terminal=false
Categories=System;HardwareSettings;Settings;
Keywords=mount;umount;usb;sd;drive;disk;storage;wayland;
StartupNotify=true
StartupWMClass=mt
